.git
.github
.vs
**/.vs
.dotnet-user
docs
deploy
scripts
tmp
**/TestResults
**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/appsettings.Development.json
**/appsettings.development.json
**/appsettings.*.local.json
.artifacts
!.artifacts/
!.artifacts/api/
!.artifacts/api/**
!.artifacts/frontend/
!.artifacts/frontend/**
