# GitHub repository variable
IMAGE_NAMESPACE=owner-or-org/codecafe

# GitHub repository secrets for the test cluster
TEST_FRONTEND_HOST=
TEST_API_HOST=
TEST_SSH_HOST=
TEST_SSH_PORT=
TEST_SSH_USER=
TEST_SSH_PRIVATE_KEY=

# GitHub repository secrets for the production cluster
PRODUCTION_FRONTEND_HOST=
PRODUCTION_API_HOST=
PRODUCTION_SSH_HOST=
PRODUCTION_SSH_PORT=
PRODUCTION_SSH_USER=
PRODUCTION_SSH_PRIVATE_KEY=
