# GitHub repository variable
IMAGE_NAMESPACE=owner-or-org/codecafe
PREVIEW_BASE_DOMAIN=

# GitHub repository variables for the test cluster
TEST_FRONTEND_HOST=
TEST_API_HOST=
TEST_SSH_HOST=
TEST_SSH_PORT=
TEST_SSH_USER=
TEST_APP_USERNAME=

# GitHub repository variables for the production cluster
PRODUCTION_FRONTEND_HOST=
PRODUCTION_API_HOST=
PRODUCTION_SSH_HOST=
PRODUCTION_SSH_PORT=
PRODUCTION_SSH_USER=
PRODUCTION_APP_USERNAME=

# GitHub repository secrets for the test cluster
TEST_SSH_PRIVATE_KEY=
TEST_APP_PASSWORD=
TEST_APP_JWT_SIGNING_KEY=

# GitHub repository secrets for the production cluster
PRODUCTION_SSH_PRIVATE_KEY=
PRODUCTION_APP_PASSWORD=
PRODUCTION_APP_JWT_SIGNING_KEY=
